/*
 * Copyright Andret Tools System (c) 2018-2022. Copying and modifying allowed only keeping git link reference.
 */

public class FooCommand {
	@Argument
	public void fooArgument(<spot>@Mapper("foo") Foo foo</spot>, int bar) {
	}
}
