/*
 * Copyright Andret Tools System (c) 2018-2022. Copying and modifying allowed only keeping git link reference.
 */

public class FooCommand {
	@Argument
	public void fooArgument(Foo foo, int bar) {
	}

    <spot>@TypeFallback(Foo.class)
	public String fooFallback(String foo) {
		return null;
	}</spot>
}
